.details {
    font-family: Arial, sans-serif;
    display: inline-flex;
    flex-direction: row;
    background-color: #121212;
    position: relative;
    margin: 80px 11%;
    border-radius: 4px;
    width: 80%;
    height: 80%;
}

.details__img {
    display: flex;
    width: 30%;
}

.details__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.details__info {
    padding: 12px 36px;
}

.info__attribute--highlight {
    font-weight: bold;
}
