.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-family: "Segoe UI", sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 150%;
    font-size: 30px;
    justify-content: center;
}

.topnav__content {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;
}

.links__movies {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 150%;
}

.links {
    display: flex;
}

.links__movies,
.links__documentaries {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
}

.links__movies:hover,
.links__documentaries:hover{
    background-color: #333;
    color: black;
}

.links__documentaries {
    margin-left: 16px;
}



